$font-color-primary: #777777;
$color-grey: #e7e4e4;
$color-purple: #627e9a;
$color-blue: #96b3d0;
$color-brick: #c88c7f;
$color-brick-neon: #d8290a;
$color-purple-transparent: rgba($color-purple, 0.1);
$color-white-transparent: rgba(#fff, 0.6);

$color-omnifood: #e67e22;
$color-mapty: #00c46a;
$color-natour: #28b485;
$color-forkify: #f48982;
$color-trillo: #ff3366;
$color-nexter: #c69963;

$media-query-for-xl: 68.75em; // 1100px
$media-query-for-l: 56.25em; // 900px
$media-query-for-m: 43.75em; // 700px
$media-query-for-s: 31.25em; // 500px
$media-query-for-xs: 18.75em; // 300px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  // scroll-behavior: smooth;
  @media screen and(max-width: $media-query-for-m) {
    font-size: 56.25%;
  }
  @media screen and(max-width: $media-query-for-s) {
    font-size: 50%;
  }
  @media screen and(max-width: $media-query-for-xs) {
    font-size: 43.75%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      $color-white-transparent,
      $color-white-transparent
    ),
    url(../img/header.jpg);
  background-size: cover;
  position: relative;
}

.button-up {
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  visibility: hidden;
  transition: all 0.3s;
  filter: opacity(50%);

  svg {
    width: 4rem;
    height: 4rem;
    fill: $color-brick;

    @media screen and(max-width: $media-query-for-l) {
      width: 3rem;
      height: 3rem;
    }
  }

  &:hover {
    transform: translateY(-2px);
    filter: opacity(100%);
  }
}

.visible {
  visibility: visible;
}
