$font-color-primary: #777777;
$color-grey: #e7e4e4;
$color-purple: #627e9a;
$color-blue: #96b3d0;
$color-brick: #c88c7f;
$color-purple-transparent: rgba($color-purple, 0.1);
$color-white-transparent: rgba(#fff, 0.6);

$color-omnifood: #e67e22;
$color-mapty: #00c46a;
$color-natour: #28b485;
$color-forkify: #f48982;
$color-trillo: #ff3366;
$color-nexter: #c69963;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  // display: grid;
  // grid-template-columns: [ls-start] 1fr [ls-end cont-start] 4fr [cont-end rs-start] 1fr [rs-end];

  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      $color-white-transparent,
      $color-white-transparent
    ),
    url(../img/header.jpg);
  background-size: cover;
}
