.header {
  color: $color-purple;
  text-transform: lowercase;
  cursor: pointer;

  &:hover {
    .header__name {
      filter: opacity(100%);
      &--2:before {
        transform: scaleY(1);
        font-size: inherit;
        // height: 100%;
        // content: "junior";
      }
    }
    .header__photo {
      border-color: $color-purple;
      transform: scaleX(1);
      width: 10rem;
    }
  }

  &__photo {
    height: 10rem;
    width: 0;

    margin-right: 1rem;
    border-radius: 1rem;
    order: -1;
    padding: 3px;
    border: 1px solid transparent;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.4s;
  }

  &__name {
    filter: opacity(40%);
    transition: all 0.4s;

    &--1 {
      font-size: 2.5rem;
    }

    &--2 {
      font-size: 2rem;
      position: relative;
      &::before {
        content: "junior";
        display: block;
        // height: 0;
        font-size: 0;
        transform: scaleY(0);
        transition: all 0.4s;
      }
    }
  }
}

.projects__heading {
  text-align: center;
  position: relative;
  display: inline-block;
  // cursor: pointer;
  transition: all 0.5s;

  // &::before {
  //   position: absolute;
  //   display: inline-block;
  //   content: "пока только учебные ¯\\_(ツ)_/¯";
  //   top: -2rem;
  //   left: -80%;
  //   width: 20rem;
  //   padding: 3px 2px;
  //   border: 1px solid $color-purple;
  //   border-radius: 1rem;
  //   font-size: 1.2rem;
  //   font-weight: 200;
  //   color: $color-purple;
  //   letter-spacing: 2px;
  //   -webkit-text-stroke: none;
  //   opacity: 0;
  //   transform: translateY(100%);
  //   transition: all 0.5s;
  // }

  // &:hover {
  //   &::before {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }
  // }
}

.projects-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 3rem;
  justify-content: center;
}

.project {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
  border-radius: 1rem;
  background-color: rgba($color-purple, 0.03);

  &__logo {
    height: 5rem;
  }

  &__name {
    display: block;
    margin: 1rem 0;

    &:link,
    &:visited {
      text-decoration: none;
      text-align: center;
      font-size: 2rem;
      text-transform: lowercase;
      font-weight: 400;
      border-bottom: 1px solid transparent;
      transition: all 0.3s;
    }
  }

  &__list-icon {
    margin-right: 1rem;
    svg {
      width: 8px;
      height: 8px;
    }
  }
  &__desc {
    p {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 2rem;
      font-style: italic;
      text-transform: lowercase;
    }
    ul {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 400;
      li {
        border-bottom: rgb(255, 255, 255) 1px solid;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &::before {
          content: "\2022";
          font-size: 2rem;
          margin-right: 0.8rem;
        }
      }
    }
  }

  &__github--logo {
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    filter: opacity(30%);
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
  }

  &:hover &__github--logo {
    filter: opacity(80%);
  }

  &.omni {
    @include project-color($color-omnifood);
  }
  &.mapty {
    @include project-color($color-mapty);
  }
  &.natour {
    @include project-color($color-natour);
  }
  &.trillo {
    @include project-color($color-trillo);
  }
  &.forkify {
    @include project-color($color-forkify);
  }
  &.nexter {
    @include project-color($color-nexter);
  }
}

.exp-chart {
  padding: 4rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  justify-items: center;
  grid-gap: 2rem;
  grid-template-areas:
    "w1 . w3 . w5 ."
    "t1 t2 t3 t4 t5 t6"
    ". w2 . w4 . w6";
  // grid-template-columns: repeat(3, minmax(min-content, max-content));
  // grid-template-areas:
  //   "w1 t1 ."
  //   ". t2 w2"
  //   "w3 t3 ."
  //   ". t4 w4"
  //   "w5 t5 ."
  //   ". t6 w6";

  &__workplace {
    padding: 2rem;
    z-index: 2;
    border-radius: 1rem;
    box-shadow: inset 0 0 4px 0px $color-purple;
    background-color: rgba(#fff, 0.3);
    text-align: center;

    p {
      margin-bottom: 1rem;
    }

    &--1 {
      grid-area: w1;
    }
    &--2 {
      grid-area: w2;
    }
    &--3 {
      grid-area: w3;
    }
    &--4 {
      grid-area: w4;
    }
    &--5 {
      grid-area: w5;
    }
    &--6 {
      grid-area: w6;
    }
  }
  &__x {
    width: 100%;
    height: 3px;
    background-color: $color-purple;
    grid-area: t1 / t1 / t6 / t6;
    align-self: center;
    // width: 3px;
    // height: 100%;
    // grid-row: t1 / t6;
    // grid-column: t1 / span 1;
  }

  &__y {
    width: 3px;
    height: 100%;
    // height: 3px;
    // width: 100%;
    &--1,
    &--3,
    &--5 {
      background-image: linear-gradient(
        to top,
        #627e9a 5.4rem,
        transparent 5.4rem
      );
    }
    &--2,
    &--4,
    &--6 {
      background-image: linear-gradient(
        to bottom,
        #627e9a 5.4rem,
        transparent 5.4rem
      );
    }

    &--1 {
      grid-row: w1 / t1;
      grid-column: w1 / span 1;
      // grid-row: w1 / span 1;
      // grid-column: w1 / t1;
    }
    &--2 {
      grid-row: t2 / w2;
      grid-column: w2 / span 1;
    }
    &--3 {
      grid-row: w3 / t3;
      grid-column: w3 / span 1;
    }
    &--4 {
      grid-row: t4 / w4;
      grid-column: w4 / span 1;
    }
    &--5 {
      grid-row: w5 / t5;
      grid-column: w5 / span 1;
    }
    &--6 {
      grid-row: t6 / w6;
      grid-column: w6 / span 1;
    }
  }

  &__time {
    padding: 0.6rem 1rem;
    color: #fff;
    justify-self: center;
    background-color: $color-purple;
    box-shadow: 0 0 4px 0px #627e9a;
    border-radius: 1rem;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 2;

    &--1 {
      grid-area: t1;
    }
    &--2 {
      grid-area: t2;
    }
    &--3 {
      grid-area: t3;
    }
    &--4 {
      grid-area: t4;
    }
    &--5 {
      grid-area: t5;
    }
    &--6 {
      grid-area: t6;
    }
  }
}

.contacts {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 0;
  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-purple;
    filter: opacity(40%);
    transition: all 0.3s;
    &:hover {
      filter: opacity(100%);
    }
  }
}

.footer {
  padding: 1rem;

  &__copy {
    text-align: center;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 400;
    color: $color-purple;
  }
}
