.contact {
  position: relative;
  &__email {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    background-color: $color-purple;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    filter: opacity(40%);
    transition: all 0.3s;

    @media screen and(max-width: $media-query-for-l) {
      font-size: 1.8rem;
    }

    &:hover {
      filter: opacity(100%);
    }
  }
  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-purple;
    filter: opacity(40%);
    transition: all 0.3s;

    @media screen and(max-width: $media-query-for-l) {
      width: 4rem;
      height: 4rem;
    }

    &:hover {
      filter: opacity(100%);
      transform: translateY(-2px);
    }
  }
}

.button-up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 5rem;
  bottom: 3.3rem;
  border-radius: 50%;
  border: 1px solid $color-brick;
  text-align: center;
  transition: all 0.3s;

  @media screen and(max-width: $media-query-for-l) {
    width: 4rem;
    height: 4rem;
  }
  @media screen and(max-width: $media-query-for-xs) {
    right: 2.5rem;
  }

  &:link,
  &:visited {
    background-color: transparent;
    color: $color-brick;
    -webkit-text-stroke: $color-brick 1px;
    text-decoration: none;
    font-size: 3.3rem;
    filter: opacity(90%);
    @media screen and(max-width: $media-query-for-l) {
      font-size: 2.7rem;
    }
  }

  &:hover {
    transform: translateY(-2px);
    filter: opacity(100%);
  }
}
