.contact {
  &__email {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    background-color: $color-purple;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    filter: opacity(40%);
    transition: all 0.3s;

    @media screen and(max-width: $media-query-for-l) {
      font-size: 1.8rem;
    }

    &:hover {
      filter: opacity(100%);
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;

    & > * {
      margin: 0 1rem;
    }
  }
  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-purple;
    filter: opacity(40%);
    transition: all 0.3s;

    @media screen and(max-width: $media-query-for-l) {
      width: 4rem;
      height: 4rem;
    }

    &:hover {
      filter: opacity(100%);
      transform: translateY(-2px);
    }
  }
}
