.exp-chart {
  padding: 4rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  grid-gap: 2rem;
  grid-template-areas:
    "w1 . w3 . w5 ."
    "t1 t2 t3 t4 t5 t6"
    ". w2 . w4 . w6";

  &__workplace {
    padding: 2rem;
    z-index: 2;
    position: relative;
    border-radius: 1rem;
    box-shadow: inset 0 0 4px 0px $color-purple;
    // background-color: rgba(#fff, 0.3);
    text-align: center;

    &:hover {
      background-color: rgba(#fff, 0.6);
    }
    @media screen and(max-width: $media-query-for-xl) {
      padding: 1rem;
    }
    @media screen and(max-width: $media-query-for-xs) {
      padding: 0.3rem;
    }

    p {
      margin-bottom: 1rem;
    }

    &--1 {
      grid-area: w1;
    }
    &--2 {
      grid-area: w2;
    }
    &--3 {
      grid-area: w3;
    }
    &--4 {
      grid-area: w4;
    }
    &--5 {
      grid-area: w5;
    }
    &--6 {
      grid-area: w6;
    }

    &::after {
      content: "";
      height: 2rem;
      width: 3px;
      position: absolute;
      background-color: rgba($color-purple, 0.4);
    }
    &--this-side {
      &::after {
        left: 50%;
        top: 100%;
      }
    }
    &--other-side {
      &::after {
        left: 50%;
        top: -2rem;
      }
    }
  }
  &__x {
    width: 100%;
    height: 3px;
    background-color: rgba($color-brick, 0.4);
    grid-area: t1 / t1 / t6 / t6;
    align-self: center;
  }

  &__time {
    padding: 0.6rem 1rem;
    color: #fff;
    justify-self: center;
    background-color: $color-blue;
    box-shadow: 0 0 2px 0px $color-blue;
    border-radius: 1rem;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 2;

    &--1 {
      grid-area: t1;
    }
    &--2 {
      grid-area: t2;
    }
    &--3 {
      grid-area: t3;
    }
    &--4 {
      grid-area: t4;
    }
    &--5 {
      grid-area: t5;
    }
    &--6 {
      grid-area: t6;
    }
  }

  @media screen and(max-width: $media-query-for-l) {
    padding: 2rem;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: repeat(6, min-content);

    grid-template-areas:
      "w1 t1 ."
      ". t2 w2"
      "w3 t3 ."
      ". t4 w4"
      "w5 t5 ."
      ". t6 w6";
    align-items: center;
    justify-items: stretch;

    &__workplace {
      &::after {
        height: 3px;
        width: 2rem;
      }
      &--this-side {
        &::after {
          top: 50%;
          left: 100%;
        }
      }
      &--other-side {
        &::after {
          top: 50%;
          left: -2rem;
        }
      }
    }
    &__x {
      width: 3px;
      height: 100%;
      grid-row: t1 / t6;
      grid-column: t1 / span 1;
      justify-self: center;
    }
  }

  @media screen and(max-width: $media-query-for-s) {
    grid-template-columns: min-content max-content min-content;
  }
}
