.header {
  &__neon {
    font-size: 9rem;
    color: #f4f9ff;
    text-shadow: 0 0 5px $color-brick-neon;
    -webkit-text-stroke: #ce9c9282 2px;
    font-weight: 200;
    @media screen and(max-width: $media-query-for-xl) {
      font-size: 8rem;
      -webkit-text-stroke: #ce9c9282 1px;
    }

    @media screen and(max-width: $media-query-for-m) {
      font-size: 7rem;
      color: rgba(#fff, 0.8);
    }

    @media screen and(max-width: $media-query-for-xs) {
      font-size: 5rem;
    }
  }
  &__person {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-white-transparent, 0.2);
    @media screen and(max-width: $media-query-for-l) {
      padding: 0 2rem;
    }
    @media screen and(max-width: $media-query-for-m) {
      flex-direction: column;
    }
  }

  &__photo {
    height: 25rem;
    border-radius: 50%;
    margin-right: 15rem;
    padding: 5px;
    border: 2px solid $color-blue;
    @media screen and(max-width: $media-query-for-l) {
      margin-right: 7rem;
    }
    @media screen and(max-width: $media-query-for-l) and(orientation: landscape) {
      height: 20rem;
    }
    @media screen and(max-width: $media-query-for-m) {
      height: 25rem;
      margin: 0;
      margin-top: 2rem;
      height: 10rem;
    }
  }

  &__info {
    padding: 3rem 0;
    width: 50%;
    display: grid;
    grid-gap: 4rem;
    color: $color-purple;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;

    @media screen and(max-width: $media-query-for-xl) {
      font-size: 2.3rem;
    }
    @media screen and(max-width: $media-query-for-l) {
      width: 100%;
    }

    @media screen and(max-width: $media-query-for-m) {
      grid-gap: 3rem;
      width: 80%;
    }

    @media screen and(max-width: $media-query-for-s) {
      font-size: 1.9rem;
    }
    @media screen and(max-width: $media-query-for-xs) {
      font-size: 1.7rem;
    }

    a {
      &:link,
      &:active,
      &:visited {
        text-decoration: none;
        color: $color-brick;
        opacity: 0.9;
        display: inline-block;
        transition: all 0.3s;
      }

      &:hover {
        transform: translateY(-2px);
        &::after {
          border: 1px solid #ce9c9282;
          box-shadow: 0 0 3px 0 $color-brick-neon;
        }
      }

      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: transparent;
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0 transparent;
        transition: all 0.3s;
      }
    }
  }
  &__icon {
    height: 100%;
  }
}
