.header {
  &__neon {
    font-size: 9rem;
    color: #f4f9ff;
    -webkit-text-stroke: #ce9c9282 2px;
    font-weight: 200;
    position: relative;
    text-shadow: 0 0 5px transparent;

    transition: text-shadow 0.3s;

    @media screen and(max-width: $media-query-for-xl) {
      font-size: 8rem;
      -webkit-text-stroke: #ce9c9282 1px;
    }

    @media screen and(max-width: $media-query-for-m) {
      font-size: 7rem;
      color: rgba(#fff, 0.8);
    }

    @media screen and(max-width: $media-query-for-xs) {
      font-size: 5rem;
    }

    .btn {
      position: absolute;
      top: 26px;
      left: 3px;
      height: 1rem;
      width: 1rem;
      border: 1px solid #96b3d0;
      border-radius: 50%;
      text-shadow: none;
      -webkit-text-stroke: 0;
      color: #96b3d0;
      font-size: 1.5rem;
      padding: 0.5rem;
      display: block;
      transition: all 0.5s;
      animation: jump 1.5s infinite;

      cursor: pointer;
      &:focus {
        outline: none;
      }

      @media screen and(max-width: $media-query-for-xl) {
        visibility: hidden;
      }
    }
  }
  &__person {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-white-transparent, 0.2);
    @media screen and(max-width: $media-query-for-l) {
      padding: 0 2rem;
    }
    @media screen and(max-width: $media-query-for-m) {
      flex-direction: column;
    }
  }

  &__photo {
    height: 25rem;
    border-radius: 50%;
    margin-right: 15rem;
    padding: 5px;
    border: 2px solid $color-blue;
    @media screen and(max-width: $media-query-for-l) {
      margin-right: 7rem;
    }
    @media screen and(max-width: $media-query-for-l) and(orientation: landscape) {
      height: 20rem;
    }
    @media screen and(max-width: $media-query-for-m) {
      height: 25rem;
      margin: 0;
      margin-top: 2rem;
      height: 10rem;
    }
  }

  &__info {
    padding: 3rem 0;
    width: 50%;
    display: grid;
    grid-gap: 4rem;
    color: $color-purple;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;

    @media screen and(max-width: $media-query-for-xl) {
      font-size: 2.3rem;
    }
    @media screen and(max-width: $media-query-for-l) {
      width: 100%;
    }

    @media screen and(max-width: $media-query-for-m) {
      grid-gap: 3rem;
      width: 80%;
    }

    @media screen and(max-width: $media-query-for-s) {
      font-size: 1.9rem;
    }
    @media screen and(max-width: $media-query-for-xs) {
      font-size: 1.7rem;
    }

    a {
      &:link,
      &:active,
      &:visited {
        text-decoration: none;
        color: $color-brick;
        opacity: 0.9;
        display: inline-block;
        transition: all 0.3s;
        outline: none;
      }

      &:hover {
        transform: translateY(-2px);
        &::after {
          border: 1px solid #ce9c9282;
          box-shadow: 0 0 3px 0 $color-brick-neon;
          @media screen and(max-width: $media-query-for-m) {
            border: none;
            border-bottom: 1px solid #ce9c9282;
            box-shadow: none;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: transparent;
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0 transparent;
        transition: all 0.3s;
        @media screen and(max-width: $media-query-for-m) {
          height: 1px;
          border: none;
          border-bottom: 1px solid transparent;
          box-shadow: none;
        }
      }
    }
  }
  &__icon {
    height: 100%;
  }
}

.on {
  text-shadow: 0 0 5px $color-brick-neon;
  animation: neon 2s ease-in-out infinite;
  .btn {
    transform: scale(0.7) translateY(0);
    border: solid 1px transparent;
    box-shadow: 0 0 5px 0 $color-brick-neon;
    animation: none;
  }

  @media screen and(max-width: $media-query-for-xl) {
    text-shadow: 0 0 5px transparent;
    animation: none;
  }
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px $color-brick-neon;
  }

  50% {
    text-shadow: 0 0 10px $color-brick-neon;
  }

  100% {
    text-shadow: 0 0 5px $color-brick-neon;
  }
}

@keyframes jump {
  0% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}
