section {
  padding: 10rem 0;
  @media screen and(max-width: $media-query-for-xl) {
    padding: 7rem 0;
  }
  @media screen and(max-width: $media-query-for-l) {
    padding: 3rem 0;
  }
}

.header {
  height: 100vh;
  background-color: $color-purple-transparent;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;

  @media screen and(max-width: $media-query-for-xs) {
    height: 60vh;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.experience {
  background-color: $color-purple-transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer {
  background-color: $color-purple-transparent;
}
