@mixin background-image-gradient($color) {
  background-image: linear-gradient(to right, $color, darken($color, 20%));
  -webkit-background-clip: text;
  color: transparent;
}

@mixin project-color($color) {
  .project__name,
  .project__desc li:before {
    @include background-image-gradient($color);
    // svg {
    //   fill: $color;
    // }
  }
  &:hover {
    .project__name,
    .project__github--logo {
      border-color: $color;
    }
    box-shadow: inset 0 0 4px 0px $color;
  }
  .project__name:hover {
    color: darken($color, 10%);
  }
}
