body {
  font-family: "Nunito Sans", sans-serif;
}
body,
.heading-1,
.heading-2,
.heading-3,
.paragraph {
  font-weight: 300;
  color: $font-color-primary;

  &--light {
    color: #eee;
  }
}

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-stroke: $color-purple 1px;
  color: #fff;
  margin-bottom: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;

  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 0.5rem;
    color: white;
    box-shadow: 0 0 2rem 0 #0061f3;
    border-radius: 1rem;
  }
}

.heading-2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: $color-purple 1px;
}

.heading-3 {
  font-size: 2rem;
  color: $color-purple;
  font-weight: 600;
}

.paragraph {
  font-size: 1.6rem;
  text-transform: uppercase;
}
