*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media screen and (max-width: 43.75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 18.75em) {
    html {
      font-size: 43.75%; } }

.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/header.jpg);
  background-size: cover; }

body {
  font-family: "Nunito Sans", sans-serif; }

body,
.heading-1,
.heading-2,
.heading-3,
.paragraph {
  font-weight: 300;
  color: #777777; }
  body--light,
  .heading-1--light,
  .heading-2--light,
  .heading-3--light,
  .paragraph--light {
    color: #eee; }

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #96b3d0;
  text-shadow: 0px 1px 0px #627e9a9e; }
  @media screen and (max-width: 68.75em) {
    .heading-1 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 56.25em) {
    .heading-1 {
      margin-bottom: 2.5rem;
      font-size: 3rem;
      text-shadow: none; } }

.heading-2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #627e9a 1px; }

.heading-3 {
  font-size: 2rem;
  color: #627e9a;
  font-weight: 600; }
  @media screen and (max-width: 68.75em) {
    .heading-3 {
      font-size: 1.7rem; } }

.paragraph {
  font-size: 1.6rem;
  text-transform: uppercase; }
  @media screen and (max-width: 68.75em) {
    .paragraph {
      font-size: 1.5rem; } }
  @media screen and (max-width: 18.75em) {
    .paragraph {
      font-size: 1.2rem; } }

section {
  padding: 10rem 0; }
  @media screen and (max-width: 68.75em) {
    section {
      padding: 7rem 0; } }
  @media screen and (max-width: 56.25em) {
    section {
      padding: 3rem 0; } }

.header {
  height: 100vh;
  background-color: rgba(98, 126, 154, 0.1);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center; }
  @media screen and (max-width: 18.75em) {
    .header {
      height: 60vh; } }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem; }

.experience {
  background-color: rgba(98, 126, 154, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center; }

.footer {
  background-color: rgba(98, 126, 154, 0.1); }

.header__neon {
  font-size: 9rem;
  color: #f4f9ff;
  text-shadow: 0 0 10px #ce9c92;
  -webkit-text-stroke: #ce9c9282 2px;
  font-weight: 200;
  text-transform: uppercase; }
  @media screen and (max-width: 68.75em) {
    .header__neon {
      font-size: 6rem;
      -webkit-text-stroke: #ce9c9282 1px; } }
  @media screen and (max-width: 56.25em) {
    .header__neon {
      font-size: 5rem;
      color: rgba(255, 255, 255, 0.5); } }
  @media screen and (max-width: 56.25em) {
    .header__neon {
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.8); } }
  @media screen and (max-width: 18.75em) {
    .header__neon {
      font-size: 3rem; } }

.header__person {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2); }
  @media screen and (max-width: 56.25em) {
    .header__person {
      padding: 0 2rem; } }
  @media screen and (max-width: 43.75em) {
    .header__person {
      flex-direction: column; } }

.header__photo {
  height: 25rem;
  border-radius: 50%;
  margin-right: 15rem;
  padding: 5px;
  border: 2px solid #96b3d0; }
  @media screen and (max-width: 56.25em) {
    .header__photo {
      margin-right: 7rem; } }
  @media screen and (max-width: 43.75em) {
    .header__photo {
      height: 25rem;
      margin: 0;
      margin-top: 2rem;
      height: 10rem; } }

.header__info {
  padding: 3rem 0;
  width: 50%;
  display: grid;
  grid-gap: 4rem;
  color: #627e9a;
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: 400; }
  @media screen and (max-width: 68.75em) {
    .header__info {
      font-size: 2.3rem; } }
  @media screen and (max-width: 56.25em) {
    .header__info {
      width: 100%; } }
  @media screen and (max-width: 43.75em) {
    .header__info {
      width: 80%; } }
  @media screen and (max-width: 18.75em) {
    .header__info {
      font-size: 1.7rem; } }
  .header__info span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #96b3d0; }
    @media screen and (max-width: 68.75em) {
      .header__info span {
        font-size: 1.8rem; } }
    @media screen and (max-width: 56.25em) {
      .header__info span {
        font-weight: 500; } }
  .header__info a:link, .header__info a:active, .header__info a:visited {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #c88c7f;
    opacity: 0.9;
    display: inline-block;
    transition: all 0.3s; }
  .header__info a:hover {
    border-bottom: 2px solid #c88c7f;
    transform: translateY(-2px);
    opacity: 1; }

.projects-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 30rem));
  grid-gap: 3rem;
  justify-content: center; }
  @media screen and (max-width: 43.75em) {
    .projects-gallery {
      grid-template-columns: repeat(2, minmax(20rem, 30rem)); } }
  @media screen and (max-width: 31.25em) {
    .projects-gallery {
      grid-template-columns: repeat(1, minmax(20rem, 30rem)); } }

.project {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
  border-radius: 1rem;
  background-color: rgba(98, 126, 154, 0.1); }
  .project__logo {
    height: 5rem; }
    @media screen and (max-width: 56.25em) {
      .project__logo {
        height: 4rem; } }
  .project__name {
    display: block;
    margin: 1rem 0; }
    .project__name:link, .project__name:visited {
      text-decoration: none;
      text-align: center;
      font-size: 2rem;
      text-transform: lowercase;
      font-weight: 400;
      border-bottom: 1px solid transparent;
      transition: all 0.3s; }
  .project__list-icon {
    margin-right: 1rem; }
    .project__list-icon svg {
      width: 8px;
      height: 8px; }
  .project__desc p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
    text-transform: lowercase; }
  .project__desc ul {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400; }
    .project__desc ul li {
      border-bottom: white 1px solid;
      margin-bottom: 1rem;
      padding-bottom: 1rem; }
      .project__desc ul li::before {
        content: "\2022";
        font-size: 2rem;
        margin-right: 0.8rem; }
  .project__github--logo {
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    filter: opacity(30%);
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s; }
  .project:hover .project__github--logo {
    filter: opacity(80%); }
  .project.omni .project__name,
  .project.omni .project__desc li:before {
    background-image: linear-gradient(to right, #e67e22, #924d10);
    -webkit-background-clip: text;
    color: transparent; }
  .project.omni:hover {
    box-shadow: inset 0 0 4px 0px #e67e22; }
    .project.omni:hover .project__name,
    .project.omni:hover .project__github--logo {
      border-color: #e67e22; }
  .project.omni .project__name:hover {
    color: #bf6516; }
  .project.mapty .project__name,
  .project.mapty .project__desc li:before {
    background-image: linear-gradient(to right, #00c46a, #005e33);
    -webkit-background-clip: text;
    color: transparent; }
  .project.mapty:hover {
    box-shadow: inset 0 0 4px 0px #00c46a; }
    .project.mapty:hover .project__name,
    .project.mapty:hover .project__github--logo {
      border-color: #00c46a; }
  .project.mapty .project__name:hover {
    color: #00914e; }
  .project.natour .project__name,
  .project.natour .project__desc li:before {
    background-image: linear-gradient(to right, #28b485, #156147);
    -webkit-background-clip: text;
    color: transparent; }
  .project.natour:hover {
    box-shadow: inset 0 0 4px 0px #28b485; }
    .project.natour:hover .project__name,
    .project.natour:hover .project__github--logo {
      border-color: #28b485; }
  .project.natour .project__name:hover {
    color: #1f8a66; }
  .project.trillo .project__name,
  .project.trillo .project__desc li:before {
    background-image: linear-gradient(to right, #ff3366, #cc0033);
    -webkit-background-clip: text;
    color: transparent; }
  .project.trillo:hover {
    box-shadow: inset 0 0 4px 0px #ff3366; }
    .project.trillo:hover .project__name,
    .project.trillo:hover .project__github--logo {
      border-color: #ff3366; }
  .project.trillo .project__name:hover {
    color: #ff0040; }
  .project.forkify .project__name,
  .project.forkify .project__desc li:before {
    background-image: linear-gradient(to right, #f48982, #ec3124);
    -webkit-background-clip: text;
    color: transparent; }
  .project.forkify:hover {
    box-shadow: inset 0 0 4px 0px #f48982; }
    .project.forkify:hover .project__name,
    .project.forkify:hover .project__github--logo {
      border-color: #f48982; }
  .project.forkify .project__name:hover {
    color: #f05d53; }
  .project.nexter .project__name,
  .project.nexter .project__desc li:before {
    background-image: linear-gradient(to right, #c69963, #8f6634);
    -webkit-background-clip: text;
    color: transparent; }
  .project.nexter:hover {
    box-shadow: inset 0 0 4px 0px #c69963; }
    .project.nexter:hover .project__name,
    .project.nexter:hover .project__github--logo {
      border-color: #c69963; }
  .project.nexter .project__name:hover {
    color: #b48042; }

.exp-chart {
  padding: 4rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  justify-items: center;
  grid-gap: 2rem;
  grid-template-areas: "w1 . w3 . w5 ." "t1 t2 t3 t4 t5 t6" ". w2 . w4 . w6"; }
  .exp-chart__workplace {
    padding: 2rem;
    z-index: 2;
    border-radius: 1rem;
    box-shadow: inset 0 0 4px 0px #627e9a;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center; }
    @media screen and (max-width: 68.75em) {
      .exp-chart__workplace {
        padding: 1rem; } }
    @media screen and (max-width: 18.75em) {
      .exp-chart__workplace {
        padding: 0.3rem; } }
    .exp-chart__workplace p {
      margin-bottom: 1rem; }
    .exp-chart__workplace--1 {
      grid-area: w1; }
    .exp-chart__workplace--2 {
      grid-area: w2; }
    .exp-chart__workplace--3 {
      grid-area: w3; }
    .exp-chart__workplace--4 {
      grid-area: w4; }
    .exp-chart__workplace--5 {
      grid-area: w5; }
    .exp-chart__workplace--6 {
      grid-area: w6; }
  .exp-chart__x {
    width: 100%;
    height: 3px;
    background-color: rgba(200, 140, 127, 0.4);
    grid-area: t1 / t1 / t6 / t6;
    align-self: center; }
  .exp-chart__y {
    width: 3px;
    height: 100%; }
    .exp-chart__y--1, .exp-chart__y--3, .exp-chart__y--5 {
      background-image: linear-gradient(to top, rgba(98, 126, 154, 0.4) 5.4rem, transparent 5.4rem); }
    .exp-chart__y--2, .exp-chart__y--4, .exp-chart__y--6 {
      background-image: linear-gradient(to bottom, rgba(98, 126, 154, 0.4) 5.4rem, transparent 5.4rem); }
    .exp-chart__y--1 {
      grid-row: w1 / t1;
      grid-column: w1 / span 1; }
    .exp-chart__y--2 {
      grid-row: t2 / w2;
      grid-column: w2 / span 1; }
    .exp-chart__y--3 {
      grid-row: w3 / t3;
      grid-column: w3 / span 1; }
    .exp-chart__y--4 {
      grid-row: t4 / w4;
      grid-column: w4 / span 1; }
    .exp-chart__y--5 {
      grid-row: w5 / t5;
      grid-column: w5 / span 1; }
    .exp-chart__y--6 {
      grid-row: t6 / w6;
      grid-column: w6 / span 1; }
  .exp-chart__time {
    padding: 0.6rem 1rem;
    color: #fff;
    justify-self: center;
    background-color: #96b3d0;
    box-shadow: 0 0 2px 0px #96b3d0;
    border-radius: 1rem;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 2; }
    .exp-chart__time--1 {
      grid-area: t1; }
    .exp-chart__time--2 {
      grid-area: t2; }
    .exp-chart__time--3 {
      grid-area: t3; }
    .exp-chart__time--4 {
      grid-area: t4; }
    .exp-chart__time--5 {
      grid-area: t5; }
    .exp-chart__time--6 {
      grid-area: t6; }
  @media screen and (max-width: 56.25em) {
    .exp-chart {
      padding: 2rem;
      grid-template-columns: max-content max-content max-content;
      grid-template-areas: "w1 t1 ." ". t2 w2" "w3 t3 ." ". t4 w4" "w5 t5 ." ". t6 w6";
      align-items: center;
      justify-items: stretch; }
      .exp-chart__x {
        width: 3px;
        height: 100%;
        grid-row: t1 / t6;
        grid-column: t1 / span 1;
        justify-self: center; }
      .exp-chart__y {
        height: 3px;
        width: 100%; }
        .exp-chart__y--1 {
          grid-row: w1 / span 1;
          grid-column: w1 / t1; }
        .exp-chart__y--2 {
          grid-column: t2 / w2;
          grid-row: w2 / span 1; }
        .exp-chart__y--3 {
          grid-column: w3 / t3;
          grid-row: w3 / span 1; }
        .exp-chart__y--4 {
          grid-column: t4 / w4;
          grid-row: w4 / span 1; }
        .exp-chart__y--5 {
          grid-column: w5 / t5;
          grid-row: w5 / span 1; }
        .exp-chart__y--6 {
          grid-column: t6 / w6;
          grid-row: w6 / span 1; }
        .exp-chart__y--1, .exp-chart__y--3, .exp-chart__y--5 {
          background-image: linear-gradient(to left, rgba(98, 126, 154, 0.4) 11rem, transparent 11rem); }
        .exp-chart__y--2, .exp-chart__y--4, .exp-chart__y--6 {
          background-image: linear-gradient(to right, rgba(98, 126, 154, 0.4) 11rem, transparent 11rem); } }
  @media screen and (max-width: 31.25em) {
    .exp-chart {
      grid-template-columns: min-content max-content min-content; } }

.contact {
  position: relative; }
  .contact__email {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    background-color: #627e9a;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    filter: opacity(40%);
    transition: all 0.3s; }
    @media screen and (max-width: 56.25em) {
      .contact__email {
        font-size: 1.8rem; } }
    .contact__email:hover {
      filter: opacity(100%); }
  .contact__icon {
    width: 5rem;
    height: 5rem;
    fill: #627e9a;
    filter: opacity(40%);
    transition: all 0.3s; }
    @media screen and (max-width: 56.25em) {
      .contact__icon {
        width: 4rem;
        height: 4rem; } }
    .contact__icon:hover {
      filter: opacity(100%);
      transform: translateY(-2px); }

.button-up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 5rem;
  bottom: 3.3rem;
  border-radius: 50%;
  border: 1px solid #c88c7f;
  text-align: center;
  transition: all 0.3s; }
  @media screen and (max-width: 56.25em) {
    .button-up {
      width: 4rem;
      height: 4rem; } }
  @media screen and (max-width: 18.75em) {
    .button-up {
      right: 2.5rem; } }
  .button-up:link, .button-up:visited {
    background-color: transparent;
    color: #c88c7f;
    -webkit-text-stroke: #c88c7f 1px;
    text-decoration: none;
    font-size: 3.3rem;
    filter: opacity(90%); }
    @media screen and (max-width: 56.25em) {
      .button-up:link, .button-up:visited {
        font-size: 2.7rem; } }
  .button-up:hover {
    transform: translateY(-2px);
    filter: opacity(100%); }

.footer {
  padding: 1rem; }
  .footer__copy {
    text-align: center;
    text-transform: lowercase;
    font-size: 1.3rem;
    font-weight: 400;
    color: #627e9a; }
